<h3>Search Questions</h3>
<div>
  <%= form_tag(questions_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search],   placeholder: "Search Questions" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div> 

<ul>
  <% @questions.each do |question| %>
    <li>
      <%= link_to(question.title, question) %>
    </li>
  <% end %>
</ul>

<%= link_to("Create Question", new_question_path) %>