<div class="row"><p></p></div>
<div class="row">
  <div class="large-9 columns" role="content">
    <b><%= @user.name %></b> says, "<%= @question.title %>"<br><br>
    <img src="<%= @question.image %>"/> <br><br>
    <p>Question: <%= @question.content %></p><br><br>

    <h5>Tags:</h5>
      <% @tags.each do |tag| %>
        <%= link_to tag.title, tag_path(tag) %>
      <% end %><br><br>

    <h5>Answers:</h5>
    <ul>
      <% @question.answers.each do |answer| %>
        <li>

          <div class="vote_count">
            <%= answer.calculate_up_votes %>
          </div>

          <div class="vote_btn">
            <%= form_for @vote do |f| %>
              <%= f.hidden_field :status, :value => true %>
              <%= f.hidden_field :answer_id, :value => answer.id %>
              <%= f.hidden_field :question_id, :value => @question.id %>
              <%= f.submit 'Up Vote', class: 'small button' %>
            <% end %>
          </div>

          <div class="answers">
            <%= answer.content %>
          </div>

          <div class="vote_btn">
            <%= form_for @vote do |f| %>
              <%= f.hidden_field :status, :value => false %>
              <%= f.hidden_field :answer_id, :value => answer.id %>
              <%= f.hidden_field :question_id, :value => @question.id %>
              <%= f.submit 'Down Vote', class: 'small button' %>
            <% end %>
          </div>

          <div class="vote_count">
            <%= answer.calculate_down_votes %>
          </div>

    <% if session[:user_id] == answer.user_id %>
      <%= link_to "Edit Answer", edit_answer_path(answer.id, question_id: @question.id), method: :get %>
      <%= link_to "Delete Answer", answer, :method => :delete %>
    <% end %>

        </li><br><br><br>
      <% end %>
    </ul>

<% if session[:user_id] == @question.user_id %>
  <%= link_to "Edit Question", edit_question_path(@question.id), method: :get %>
  <%= link_to "Delete Question", @question, :method => :delete %>
<% else %>
  <%= link_to "Answer Question", new_answer_path(question_id: @question.id), method: :get %>
<% end %>

  </div>
  <aside class="large-3 columns">
  </aside>
</div>
